/* Components/AddScenario.css */

.add-scenario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(24, 24, 24); /* Background color */
  }
.add-scenario p{
    color: white;
}
  
  .scenario-box {
    background-color: #333; /* Different color for the box */
    padding: 20px;
    border-radius: 8px; /* Add some border radius */
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Text color */
  }
  
  .input-group input {
    width: calc(50% - 10px); /* Set the width of each input to 50% of the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(24, 24, 24); /* Input field background color */
    color: white; /* Text color */
  }
  
  .button-group {
    display: flex;
    justify-content: flex-start; /* Align buttons to the left */
    margin-top: 20px; /* Add margin to separate buttons from inputs */
  }
  
  .add-button,
  .reset-button,
  .go-back-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Add margin between buttons */
  }
  
  .add-button {
    background-color: #4caf50;
    color: white;
  }
  
  .reset-button {
    background-color: orange;
    color: white;
  }
  
  .go-back-button {
    background-color: #008cba;
    color: white;
  }
  