.all-scenarios {
  padding: 20px;
  background-color: rgb(24, 24, 24); /* Set the background color to dark */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: white; /* Set heading color to white */
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-group button {
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border-radius */
  cursor: pointer; /* Pointer cursor */
}

.new-scenario {
  background-color: rgb(68, 122, 237); /* Blue button color */
}

.add-vehicle {
  background-color: rgb(67, 169, 67); /* Green button color */
}

.delete-all {
  background-color: orange; /* Orange button color */
}

.button-group button:hover {
  filter: brightness(85%); /* Hover effect */
}

table {
  border-collapse: collapse; /* Remove borders between table cells */
  width: 100%; /* Full width */
}

table th,
table td {
  padding: 8px; /* Add padding */
  text-align: left; /* Align text to left */
}

table th {
  background-color: rgb(48, 48, 48); /* Dark color for header */
  color: white; /* White text color for header */
}

table tr:nth-child(even) {
  background-color: white; /* White background color for even rows */
  color: black; /* Black text color */
}

table tr:nth-child(odd) {
  background-color: rgb(224, 224, 224); /* Light gray background color for odd rows */
  color: black; /* Black text color */
}

.table-symbol {
  color: black; /* Black color for table icons */
  font-size: 20px; /* Adjust icon size */
  cursor: pointer; /* Show pointer on hover */
  transition: color 0.3s; /* Smooth transition */
}

.table-symbol:hover {
  color: rgb(4, 4, 4); /* Gray color on hover */
}

.add-vehicle-symbol {
  color: white; /* White color */
  background-color: black; /* Black background color */
  border-radius: 50%; /* Circular shape */
  padding: 10px; /* Adjust padding */
  cursor: pointer; /* Show pointer on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}
.save-icon,
.cancel-icon {
  color: black; /* Ensure save and cancel icons are always black */
  font-size: 20px; /* Adjust icon size */
  cursor: pointer; /* Show pointer on hover */
}

.save-icon:hover,
.cancel-icon:hover {
  color: black !important; /* Keep black color on hover */
}
.save-icon{
  padding-right: 15px;
}

.action-icon {
  color: black; /* Black color for action icons */
  font-size: 20px; /* Adjust icon size */
  cursor: pointer; /* Show pointer on hover */
  transition: color 0.3s; /* Smooth transition */
}

.action-icon:hover {
  color: rgb(28, 27, 27); /* Light color on hover */
}
